<div id="header">
    <div id="logo">
        <a href="/"><img src="images/logo.png" alt="LOGO" height="100" width="200"></a>
    </div>
<div id="navigation">
    <ul>
        <li class="{{#if (eq title 'Home')}}selected{{/if}}">
            <a href="/">Home</a>
        </li>
        <li class="{{#if (eq title 'Travel')}}selected{{/if}}">
            <a href="/travel">Travel</a>
        </li>
        <li class="{{#if (eq title 'Rooms')}}selected{{/if}}">
            <a href="/rooms">Rooms</a>
        </li>
        <li class="{{#if (eq title 'Meals')}}selected{{/if}}">
            <a href="/meals">Meals</a>
        </li>
        <li class="{{#if (eq title 'News')}}selected{{/if}}">
            <a href="/news">News</a>
        </li>
        <li class="{{#if (eq title 'About')}}selected{{/if}}">
            <a href="/about">About</a>
        </li>
        <li class="{{#if (eq title 'Contact')}}selected{{/if}}">
            <a href="/contact">Contact</a>
        </li>
    </ul>
</div>
</div>